/* .grid-container { */


/* display: grid; */


/* grid-template-columns: auto auto auto; */


/* grid-template-rows: 100px 200px; */


/* background-color: aqua; */


/* padding: 20px; */


/* grid-column-gap: 20px; */


/* column-gap: 20px; */


/* grid-row-gap: 20px; */


/* row-gap: 20px; */


/* gap: 10px; */


/* } */


/* .grid-item { */


/* border: 1px solid black; */


/* background-color: blueviolet; */


/* font-size: 20px; */


/* text-align: center; */


/* padding: 20px; */


/* } */


/* .first-item { */


/* grid-column-start: 1;
    grid-column-end: 3; */


/* grid-column: 1 / 3; */


/* grid-column: 1 / span 3; */


/* grid-row-start: 1;
    grid-row-end: 3; */


/* grid-row: 1 / 3; */


/* grid-row: 1 / span 3; */


/* grid-area: 2 / 2 / 3 / 4; */


/* } */


/* body {
    background-color: #3b404e;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #ffffff;
    border: 6px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.header,
.footer {
    background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}

.sidebar {
    background-image: linear-gradient(203deg, #3edfd7 0%, #29a49d 90%);
}

.content-1,
.content-2,
.content-3 {
    background-image: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);
}

.container {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-template-areas: "header header header" "sidebar content-1 content-1" "sidebar content-2 content-3" "footer footer footer";
    gap: 1rem;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content-1 {
    grid-area: content-1;
}

.content-2 {
    grid-area: content-2;
}

.content-3 {
    grid-area: content-3;
}

.footer {
    grid-area: footer;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: #ff4a52;
}

li {
    list-style: none;
    cursor: pointer;
    transition: color .2s;
}

li:hover {
    color: #ff4a52;
}

ul {
    margin: 0px;
    padding: 0px;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%!important;
}

.w-50 {
    width: 50%!important;
}

.row {
    width: 100%;
    display: flex;
}

.font-15 {
    font-size: 15px!important;
}

header {
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 12px;
}

.search-icon {
    justify-content: center;
    align-items: center;
}

.search-icon a {
    color: black;
}

.drop-down-menu {
    justify-content: center;
    align-items: center;
}

.drop-down-menu a {
    color: black;
}

.slider {
    background-image: url(../images/banner2.png);
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-text {
    justify-content: space-around;
    align-items: center;
    height: 45vw;
    flex-direction: column;
}

.slider-text h3 {
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 10vw;
}

.slider-text p {
    font-size: 2.5vw;
    font-weight: 400;
    color: #ffffff;
}

.slider-btn {
    background-color: #1ECB6B;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: background-color .3s;
}

.slider-btn:hover {
    background-color: #ff4a52;
    color: white!important;
}

.search-bar {
    background-color: #040E27;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
}

.search-bar h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.search-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
}

input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 4px;
    margin: 10px 10px;
    padding: 17px 50px;
    outline: none;
    color: white;
}

.search-btn {
    background-color: #ff4a52;
    color: white;
    padding: 17px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #1ECB6B;
    color: white!important;
}

.popular-heading {
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.popular-title {
    font-size: 38px;
    font-weight: 400;
    color: #040E27;
    margin: 10px;
}

.popular-destination {
    font-size: 16px;
    color: #7A838B;
    line-height: 30px;
    font-weight: 400;
}

.popular-container {
    flex-wrap: wrap;
    justify-content: center;
}

.popular-container article {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    transition: .2s;
}

.popular-container article:hover {
    transform: translateY(-10px);
}

.popular-container article:before {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    content: '';
    width: 100%;
    height: 92.6%;
    border-radius: 5px;
    z-index: 1000;
}

article img {
    margin-bottom: 20px;
    height: 280px;
}

.popular-image-info {
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 10000;
}

.popular-image-info p {
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    transition: .3s;
}

.popular-image-info a {
    background-color: #1ECB6B;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 7px 12px;
    color: #ffffff;
    margin-left: 10px;
}

.popular-container article:hover .popular-image-info p {
    color: #ff4a52;
    transition: 0.3s;
}

.popular-container article:hover .popular-image-info a {
    color: #ffffff;
    background-color: #ff4a52;
    transition: 0.3s;
}

.newsletter {
    background-image: url(../images/newsletter.png);
    background-position: 65% 65%;
    background-size: cover;
    height: 250px;
    position: relative;
}

.newsletter-container {
    flex-direction: column;
    align-items: center;
    z-index: 10000;
}

.newsletter-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.newsletter::before {
    position: absolute;
    content: '';
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.newsletter-text h4 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
}

.newsletter-text p {
    font-size: 12px;
    font-weight: 400;
    color: #AAB1B7;
}

.mail-form {
    display: flex;
    flex-direction: column;
}

.mail-form input {
    width: 40vw;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.newsletter-btn {
    background-color: #ff4a52;
    color: #ffffff;
    padding: 16px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.video {
    background-image: url(../images/video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 130px 0;
    margin: 15px 0;
    width: 100%;
    position: relative;
}

.video::before {
    position: absolute;
    left: 0;
    top: 0;
    background: #040E27;
    content: '';
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: 1;
}

.video-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1000;
}

.video-container h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 7vw;
    color: #ffffff;
    margin-bottom: 30px;
}

.video-button {
    background-color: #1ECB6B;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transition: background-color .5s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-button a {
    color: #ffffff;
}

.video-button:hover {
    background-color: #ff4a52;
}

footer {
    background-color: #040E27;
    padding: 60px 0;
    flex-direction: column;
    align-items: flex-start;
}

.left-footer {
    margin-bottom: 20px;
}

.footer-info li {
    color: #AAB1B7;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.footer-title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: "Rubik", sans-serif;
}

.links li {
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 30px;
}

.links li a {
    color: #AAB1B7;
    font-weight: 400;
}